%% -*- mode: erlang -*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {gun, "~> 2.1"}
]}.

{profiles, [
    {test, [
        {deps, [
            {proper, "~> 1.4"}
        ]},
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.

{ct_opts, [
    {logdir, "logs"}
]}.

{xref_extra_paths, ["test", "_build/test/lib/multiplayer_ct/test"]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{project_plugins, [
    {erlfmt, "~> 1.7"}
]}.

{shell, [
    {apps, [multiplayer_ct]}
]}.

{erlfmt, [
    write,
    {files, [
        "rebar.config",
        "src/*.app.src",
        "src/**/{*.erl, *.hrl}",
        "test/**/{*.erl, *.hrl}"
    ]}
]}.
